@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* base.html styling */
html{
    color: #181818;
    background-color: #B6C867;
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #01937C;
}
.navbar h1{
    font-size: 30px;
    margin: 0;
    font-weight: 600;
}
.navbar .navlinks{
    text-decoration: none;
    color: #181818;
}
footer p{
    text-align: center;
}

/* dropdown styling */
.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn {
    background-color: #B6C867;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #181818;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #FFC074;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* unauthorized routes styling */
.unauthorized{
    margin-left: 30px;
}

/* home.html styling */
.post-list .post-preview{
    padding: 10px;
    margin: 12px;
    background-color: #FAF1E6;
}
.post-preview h1, .post-preview h2{
    margin: 0;
}
.post-title-link{
    text-decoration: none;
    color: #181818;
}
.post-preview h1{
    font-weight: 600;
}
.post-preview h2{
    font-weight: 300;
    font-size: 14px;
    margin-top: 4px;
}

/* post_detail.html styling */
.post-admin-links{
    text-decoration: none;
    font-size: 12px;
    color: #FFC074;
}
.like-form button{
    background-color: #01937C;
    border: none;
    padding: 8px;
    color: #FAF1E6;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border-radius: 12px;

}
/* author info styling */
.author-info{
    margin: 12px;
    padding: 10px;
    background-color: #FAF1E6;
    display: flex;
    align-items: flex-start;
}
.author-text-div h2{
    margin: 0;
}
.profile-pic{
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.author-links{
    text-decoration: none;
    font-size: 12px;
    color: #FFC074;
    font-weight: 500;
}
/* add_post.html styling */
.form-div{
    max-width: 800px;
    margin: 0 auto;
}
.form-div h2{
    margin-top: 30px;
}
.post-form input, .post-form select, .post-form textarea, .auth-form input, .user-form input, .user-form textarea, .user-form select{
    border: 1px solid #FFC074;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.post-form label, .auth-form label{
    display: block;
}
.post-form textarea{
    resize: none;
}
.button-div{
    text-align: center;
}
.post-form button, .delete-form input, .auth-form button, .user-form button{
    background-color: #01937C;
    border: none;
    padding: 8px;
    color: #FAF1E6;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.helptext{
    display: block;
}

/* delete_post.html styling */
.delete-form{
    text-align: center;
}
.delete-h2{
    margin-left: 20px;
}