{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Turf {% endblock %}</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1><a href="{% url 'home' %}" class="navlinks">Turf</a></h1>
            <div>
                
                {% if user.is_authenticated %}
                    <a href="{% url 'add-post' %}" class="navlinks">Add Post</a>
                    <a href="{% url 'edit-profile' user.profile.id %}" class="navlinks">Edit Profile</a>
                    <a href="{% url 'logout' %}" class="navlinks">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navlinks">Login</a>
                    <a href="{% url 'signup' %}" class="navlinks">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <p>&copy; Mike Hood 2021</p>
    </footer>
</body>
</html>