{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Turf {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1><a href="{% url 'home' %}" class="navlinks">Turf</a></h1>
            
            <div>
                
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropbtn">{{ user.first_name }} {{ user.last_name }} 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'add-post' %}">Add Post</a>
                        {% if user.profile.id %}
                            <a href="{% url 'show-profile' user.profile.id %}">Contributer Profile</a>
                            <a href="{% url 'edit-profile' user.profile.id %}">Edit Profile Page</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                    <a href="{% url 'login' %}" class="navlinks">Login</a>
                    <a href="{% url 'signup' %}" class="navlinks">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <p>&copy; Mike Hood 2021</p>
    </footer>
</body>
</html>