{% extends 'base.html' %}
{% block title %}Turf | Edit Post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="form-div">
        <h2>Edit Post</h2>
        <form class="post-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-div">
                <button type="submit">Edit Post</button>
            </div>
        </form>
    </div>
{% else %}
    <h1>Unauthorized</h1>
    <h2>You must be logged in to do this.</h2>
{% endif %}

{% endblock %}