{% extends 'base.html' %}
{% block title %}Turf | Login {% endblock %}

{% block content %}
<div class="form-div">
    <h2>Login</h2>
    <form class="auth-form" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" class="form-input" name="username" placeholder="Username">
        </div>
        <div>
            <input type="password" class="form-input" name="password" placeholder="Password">
        </div>
        <div class="button-div">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

{% endblock %}