{% extends 'base.html' %}
{% load static %}
{% block title %} Turf | Profile Detail {% endblock %}

{% block content %}

<div class="author-info">
    <div class="author-img-div">
        {% if profile.profile_pic %}
            <img src="{{ profile.profile_pic.url }}" class="profile-pic">
        {% else %}
            <img src="{% static 'images/default_profile_pic.png' %}" class="profile-pic">
        {% endif %}
    </div>
    <div class="author-text-div">
        <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
        {% if profile.website_url %}
             <a href="{{ profile.website_url }}" class="author-links" target="_blank">Website</a>
            {% endif %}
            {% if profile.medium_url %}
             | <a href="{{ profile.medium_url }}" class="author-links" target="_blank">Medium</a>
            {% endif %}
            <p>{{ post.author.profile.bio }}</p>
        <p>{{ profile.bio }}</p>
    </div>
</div>
    
{% endblock %}